UnityBomber/Library/CurrentLayout.dwlt
UnityBomber/Library/LastSceneManagerSetup.txt
/.vs
UnityBomber/Library/metadata/
UnityBomber/Library/ShaderCache/
UnityBomber/Library/ScriptAssemblies/
UnityBomber/Temp
UnityBomber/obj
*.meta
*Thumbs.db*
*.stamp
*.log